@import url('https://cdn.katsuragi.cyou/fonts/TH/LINEseed-Regular');
@import url('https://dethmastery.github.io/katsuStrap/cdn/katsuStrap.css');

body, html, a, p, span, input, div, h1, h2, h3, h4, h5 {
  font-family: 'LINEseed-Regular', sans-serif !important;
}

.nav {
  width: 100%;
  background-color: #ff6f61;
}

.nav.flex {
  height: auto !important;
}

.left-part, .right-part {
  width: 100%;
  list-style-type: none !important;
  padding: 0;
  margin: 0;
}

.left-part .nav-item, .right-part .nav-item {
  padding: 1rem;
  margin: 0;
  background-color: #ff6f61;
  display: inline-block;
}

.right-part {
  justify-content: end;
}

a.nav-link {
  color: whitesmoke;
  text-decoration: none;
  transition: all .3s;
  font-weight: bold;
}

a.nav-link:hover {
  opacity: .6;
}

main {
  width: 80%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  text-align: left;
}

ul#files {
  width: 100%;
  list-style-type: none !important;
  padding: 0;
  margin: 0;
}

ul#files a {
  color: whitesmoke;
  transition: all .3s;
}

ul#files a:hover {
  opacity: .6;
}

ul#files li {
  width: 100%;
  padding: 1rem 0;
  margin: 0;
}

ul#files li a {
  width: 100%;
  display: inline-block;
}

ul#files li span:nth-child(1) {
  width: 50%;
  display: inline-block !important;
}

ul#files li span:nth-child(2), ul#files li span:nth-child(3) {
  width: 25%;
  display: inline-block !important;
}

footer {
  width: 100%;
  position: fixed;
  text-align: center;
  bottom: 0;
  padding: 1rem 0;
  background-color: rgba(0, 0, 0, 0.6);
}

footer a {
  color: whitesmoke;
  transition: all .3s;
}

footer a:hover {
  text-decoration: none;
  opacity: .8;
}