@media only screen and (max-width: 900px) {
  main {
    width: 85% !important;
    padding-top: 1rem;
    margin: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    justify-content: center;
  }

  #waterfall {
    width: 100% !important;
    margin: 0 !important;
    justify-content: center;
    grid-gap: 1rem;
    column-gap: 1rem;
    grid-template-columns: repeat(auto-fill, 100%);
  }
}

@media only screen and (max-width: 600px) {
  main {
    width: 95% !important;
    padding-top: 1rem;
    margin: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    justify-content: center;
  }

  #waterfall {
    width: 100% !important;
    margin: 0 !important;
    justify-content: center;
    grid-gap: 1rem;
    column-gap: 1rem;
    grid-template-columns: repeat(auto-fill, 100%);
  }
}